
/*-------------------------min 1024----------------------------*/

@media screen  and (min-width:1024px){
    .search-input{
        width: 320px;
    }
}
/*-------------------------min 1200----------------------------*/

@media screen and (min-width:1200px) {
    .div-nav-video{
        width: 20%;
    }
    .button-menu{
        display: none;
    }
    .button-menu-list{
        display: none;
    }
    .search-input{
        width: 400px;
    }

}
/*-------------------------max 1200----------------------------*/

@media screen  and (max-width:1200px){
    
    .nav{
        width: 100%;
        justify-content: space-between;
    }
    .div-nav-button {
        width: 50%;
        height: 80px;
        display: none;
        
    }
    .div-nav-video{
        width: 50%;
        z-index: 100;
    }
    .nav-video{
        width: 180px;
        margin: 7px ;

    }
    .nav-ul{
        display: none;
    }
    .button-menu{
        width: 50px;
        height: 50px;
        margin: 15px;
        border-radius: 10px;
        background-color: #000000;
        color: #ffffff;
    }
    #menuicon{
        width: 100%;
        height: 100%;
        padding: 12px;
        font-size: 24px;
        transition: 0.2s;
        border-radius: 10px;
        color: #ffffff;
        border: #000000 solid 2px;
    }
    #menuicon:hover,
    #menuicon:active {
        display: block;
        padding: 12px;
        transition: 0.5s;
        border-radius: 10px;
        color: #000000;
        position: relative;
        border: #000000 solid 2px;
        background-color: #ffffff;
    }
    .button-menu:hover .button-list-ul{
        display: block;
    }
    .button-list-ul{
        display:none;
        z-index: 5;
        left: 0px;
        top: 90px;
        width: 100%;
        height: auto;
        position: absolute;
        border: #000000 dotted 1.5px;
        background-color: #ffffff;
        
    }
    .button-list-li{
        padding: 10px ;
        margin-top: 10px;
        text-align: center;

    }
    .button-list-li a{
        margin: 0px;
        display: block;
        padding: 10px 50px;
        transition: 0.5s;
        color: #000000;
        border-radius: 100px;
        text-decoration: none;
        text-transform: capitalize;

    }
    .button-list-li a:hover{
        transition: 0.3s ;
        border-radius: 100px;
        color: #ffffff;
        background-color: #000000;

    }

/*-------------------------welcome----------------------------*/

    .welcome-to{
        top: 40px;
        left: 0px;
        position: relative;
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    .welcome-compass{
        top: 50px;
        left: 0px;
        position: relative;
        text-align: center;
        color: #ffffff;
        font-size: 60px;
        font-weight: 1000;
        text-transform: uppercase;
        -webkit-text-stroke: #000000 3px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .welcome-img{
        top: 170px;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 200px;
        margin: 0 auto;
        position: relative;
        border: #000000 solid 5px;
        border-radius: 100px;  
    }
    /*-------------------------search----------------------------*/
    .search{
        display: flex;
        width: 40%;
        left: 50%;
        position: relative;
        transform: translate(-50%,-50%);
    }

    .language-p{
        top: 50px;
        font-size: 10px;
        width:130px;
        margin-top: 50px;
    }
    .language-a{
        font-size: 10px;
    }
    /*-------------------------mobile section----------------------------*/

    .mobile-section,
    .computer-section,
    .console-section,
    .course-section,
    .document-section,
    .apps-section
     {
        width: 100%;
        height:auto;
        padding-bottom: 400px;
        background-color: #000000;
    }
    
    .mobile-section-line,
    .computer-section-line,
    .console-section-line,
    .course-section-line,
    .document-section-line,
    .apps-section-line {
        width: 100%;
        height: 100px;
        background-color: #c05ce0;
    }
    
    .mobile-section-img,
    .computer-section-img,
    .console-section-img {
        left: 50%;
        top: 100px;
        transform: translate(-50%,-50%);
        width: 350px;
        transition: 0.5s;
    }
    .apps-section-img {
        left: 50%;
        top: 50px;
        transform: translate(-50%,-50%);
        width: 200px;
        transition: 0.5s;
    }
    .document-section-img{
        left: 50%;
        top: 80px;
        transform: translate(-50%,-50%);
        width: 350px;
        transition: 0.5s;
    }
    .course-section-img{
        left: 50%;
        top: 80px;
        transform: translate(-50%,-50%);
        width: 350px;
        transition: 0.5s;
    }
    
    .mobile-section-img:hover,
    .computer-section-img:hover,
    .console-section-img:hover,
    .course-section-img:hover,
    .document-section-img:hover {
    left: 50%;
    top: 100px;
    transform: translate(-50%,-50%);
    width: 400px;
    transition: 0.5s;
}
.apps-section-img:hover {
    left: 50%;
    top: 5 0px;
    transform: translate(-50%,-50%);
    width: 250px;
    transition: 0.5s;
}
    
    .mobile-section-head{
        padding: 5px 30px 5px;
        left: 50%;
        bottom: 50px;
        transform: translate(-50%,-50%);
        width: 90%;
        margin: 0px;
        height: auto;
        font-size: 20px;
        color: #ffffff;
        position: relative;
        text-transform: uppercase;
        border: #ffffff solid 2px;
        border-radius: 10px;
    }
    .computer-section-head{
        padding: 5px 30px 5px;
        left: 50%;
        bottom: 100px;
        transform: translate(-50%,-50%);
        width: 90%;
        margin: 0px;
        height: auto;
        font-size: 20px;
        color: #ffffff;
        position: relative;
        text-transform: uppercase;
        border: #ffffff solid 2px;
        border-radius: 10px;
    }
    .console-section-head{
        padding: 5px 30px 5px;
        left: 50%;
        bottom: 100px;
        transform: translate(-50%,-50%);
        width: 90%;
        margin: 0px;
        height: auto;
        font-size: 20px;
        color: #ffffff;
        position: relative;
        text-transform: uppercase;
        border: #ffffff solid 2px;
        border-radius: 10px;
    }
    .course-section-head{
        padding: 5px 30px 5px;
        left: 50%;
        bottom: 100px;
        transform: translate(-50%,-50%);
        width: 90%;
        margin: 0px;
        height: auto;
        font-size: 20px;
        color: #ffffff;
        position: relative;
        text-transform: uppercase;
        border: #ffffff solid 2px;
        border-radius: 10px;
    }
    .document-section-head{
        padding: 5px 30px 5px;
        left: 50%;
        bottom: 100px;
        transform: translate(-50%,-50%);
        width: 90%;
        margin: 0px;
        height: auto;
        font-size: 20px;
        color: #ffffff;
        position: relative;
        text-transform: uppercase;
        border: #ffffff solid 2px;
        border-radius: 10px;
    }
    .apps-section-head {
        padding: 5px 30px 5px;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%,-50%);
        width: 90%;
        margin: 0px;
        height: auto;
        font-size: 20px;
        color: #ffffff;
        position: relative;
        text-transform: uppercase;
        border: #ffffff solid 2px;
        border-radius: 10px;
    }
    
    .mobile-section-text,
    .computer-section-text,
    .console-section-text,
    .course-section-text,
    .document-section-text,
    .apps-section-text {
        top: 450px;
        left: 50%;
        width: 90%;
        transform: translate(-50%,-50%);
        height: auto;
        position: relative;
    }
    .mobile-section-li,
    .computer-section-li,
    .console-section-li,
    .course-section-li,
    .document-section-li,
    .apps-section-li {
        color: #ffffff;
        font-size: 12px;
    }
    .mobile-section-button,
    .computer-section-button,
    .console-section-button,
    .course-section-button,
    .document-section-button,
    .apps-section-button{
        color: #ffffff;
        background-color: #000000;
        padding: 5px 30px 5px;
        border: #c05ce0 solid 2px;
        border-radius: 10px;
        transition: 0.5s;
    }
    
    .mobile-section-button:hover,
    .computer-section-button:hover,
    .console-section-button:hover,
    .course-section-button:hover,
    .document-section-button:hover,
    .apps-section-button:hover{
        background-color: #c05ce0;
        transition: 0.5s;
        position: relative;
        bottom: 3px;
    
    }
    





    
}