/*----------font----------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*----------all----------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Kufi Arabic', sans-serif;
    
}
:root {
    --clr-light: #ffffff; /* Light mode background color */
    --clr-dark: #000000; /* Light mode text color */
}

body {
    
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

/* Dark mode styles */
.dark-mode {
    --clr-dark: #ffffff; /* Dark mode text color */
    --clr-light: #121212; /* Dark mode background color */
}



#mode-toggle{
    width: 60px;
    height: 60px;
    padding: 0px;
    border: none;
    background-color: var(--clr-dark);
    border: var(--clr-light) solid 1px;
    border-radius: 10px;
    cursor: pointer;
    color: inherit;
    font-size: 30px;
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 200;
}

/*----------head----------*/
.zkr {
    top: 20px;
    text-align: center;
    position: relative;
}

/*--------------------nav--------------------*/
.nav {
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 200;
    display: flex;
    position: sticky;
    background-color:var(--clr-dark);
    box-shadow: 0px 0px 16px 0px #808080;
}

.div-nav-video {
    width: 20%;
    height: 80px;
}

.nav-video {
    width: 180px;
    border-radius: 10px;
    margin: 6px 30px 7px;
    
}

.nav-button {
    width: 80%;
    height: 80px;

}

.nav-ul {
    width: 100%;
    height: 80px;
    float: right;
    display: flex;
}

.nav-li {
    margin: 20px auto 20px;
    list-style: none;
}

.nav-a {
    color: var(--clr-light);
    font-size: 16px;
    border-radius: 50px;
    padding: 5px 20px 5px;
    text-decoration: none;
    text-transform: capitalize;
    border: var(--clr-light) solid 1px;
    transition: 0.5s;

}

.nav-a:hover {
    color: var(--clr-dark);
    transition: 0.5s;
    border: var(--clr-light) solid 1px;
    background-color: var(--clr-light);
}
.reklam{
    width: 200px;
    height: 100px;
    position: sticky;
    right: 20px;
    padding: 10px;
    z-index: 99;
    bottom: 0;
    background-color: var(--clr-light);
    border: var(--clr-light) solid 1px;
    border-radius: 10px 10px 0px 0px;

}
.reklam p{
    color: var(--clr-dark);
    font-size: 15px;
    text-align: center;

}
.reklam a{
    color: #bb00ff;
}
/*--------------------welcome--------------------*/

.welcome{
    width: 100%;
    height: 500px;
    background-color: var(--clr-dark);
}
.welcome-to{
    top: 200px;
    right: 300px;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    transition: 0.5s;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.welcome-compass{
    top: 200px;
    right: 100px;
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 80px;
    font-weight: 1000;
    transition: 0.5s;
    text-transform: uppercase;
    -webkit-text-stroke: #000000 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.welcome-compass:hover{
    font-size: 90px;
    transition: 0.5s;
    -webkit-text-stroke: #1877f2 3px;
}
.welcome-img{
    top: 170px;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 200px;
    margin: 0 auto;
    cursor: no-drop;
    transition: 0.5s;
    text-align: center;
    position: relative;
    border-radius: 100px;  
    border: #000000 solid 5px;
}
.welcome-img:hover{
    cursor: no-drop;
    filter: blur(5px);
}
.welcome-line{
    width: 100%;
    height: 10px;
    background-color: var(--clr-light);
}
.welcome-section2{
    width: 100%;
    padding-top: 100px;
}


/*----------search----------*/
.search {
    top: 20px;
    left: 50%;
    width: 40%;
    padding: 5px;
    position: relative;
    border-radius: 100px;
    border: #000000 solid 1px;
    background-color: #ffffff;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    display: flex;
    z-index: 3;
    justify-content: space-between;

}

.search:hover {
    z-index:10;
    width: 50%;
    left: 50%;
    transition: 0.5s;
    transform: translate(-50%,-50%);
}

.search-input,
.search-input:active {
    width: 80px;
    margin-left: 20px;
    border: none;
    outline: none;
    background-color: #ffffff;
    transition: 0.5s;
}

.search-button {
    width: 40px;
    margin-top: 3px;
    margin-right: 15px;
    border: none;
    background-color: #ffffff;
    transition: 0.5s;
}


/*--------------------mobile section--------------------*/

.mobile-section {
    width: 100%;
    height: 600px;
    background-color: var(--clr-dark);

}

.mobile-section-line {
    width: 100%;
    height: 200px;
    background-color: #bb00ff;
}

.mobile-section-img {
    bottom: 53px;
    left: 100px;
    width: 450px;
    position: relative;
    transition: 0.5s;
}

.mobile-section-img:hover {
    bottom: 70px;
    left: 80px;
    width: 500px;
    transition: 0.5s;
}

.mobile-section-head {
    padding: 5px 30px 5px;
    left: 500px;
    bottom: 350px;
    width: 700px;
    font-size: 40px;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
    border: #ffffff solid 2px;
    border-radius: 10px;
}

.mobile-section-text {
    top: 50px;
    left: 520px;
    width: 700px;
    height: 200px;
    position: relative;
}
.mobile-section-li {
    color: var(--clr-light);
    font-size: 12px;
}
.mobile-section-button{
    padding: 5px;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    border: #bb00ff solid 2px;
    border-radius: 10px;
    transition: 0.5s;
    
}

.mobile-section-button:hover{
    color: var(--clr-dark);
    background-color: #bb00ff;
    transition: 0.5s;
    position: relative;
    transform: scale(0.9);

}
.mobile-section-a{
    text-decoration: none;
    color: var(--clr-light);
    padding: 30px;
}
.mobile-section-a:hover{
    color: #ffffff;
}

/*--------------------computer--------------------*/
.computer-section {
    width: 100%;
    height: 600px;
    background-color: var(--clr-dark);

}

.computer-section-line {
    width: 100%;
    height: 200px;
    background-color: #ffc60a;
}

.computer-section-img {
    bottom: 80px;
    left: 0px;
    width: 450px;
    position: relative;
    transition: 0.5s;
}

.computer-section-img:hover {
    bottom: 100px;
    left: 0px;
    width: 500px;
    transition: 0.5s;
}

.computer-section-head {
    padding: 5px 30px 5px;
    left: 500px;
    bottom: 410px;
    width: 700px;
    font-size: 40px;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
    border: #ffffff solid 2px;
    border-radius: 10px;
}

.computer-section-text {
    top: 50px;
    left: 520px;
    width: 700px;
    height: 200px;
    position: relative;
}
.computer-section-li {
    color: var(--clr-light);
    font-size: 12px;
}
.computer-section-button{
    color: var(--clr-light);
    background-color: var(--clr-dark);
    padding: 5px;
    border: #ffc60a solid 2px;
    border-radius: 10px;
    transition: 0.5s;
}

.computer-section-button:hover{
    color: var(--clr-dark);
    background-color: #ffc60a;
    transition: 0.5s;
    position: relative;
    transform: scale(0.9);

}
.computer-section-a{
    text-decoration: none;
    color: var(--clr-light);
    padding: 30px;
}
.computer-section-a:hover{
    color: #ffffff;
}
/*--------------------console--------------------*/
.console-section {
    width: 100%;
    height: 600px;
    background-color: var(--clr-dark);

}

.console-section-line {
    width: 100%;
    height: 200px;
    background-color: #1877f2;
}

.console-section-img {
    bottom: 80px;
    left: 10px;
    width: 450px;
    position: relative;
    transition: 0.5s;
}

.console-section-img:hover {
    bottom: 110px;
    left: 0px;
    width: 500px;
    transition: 0.5s;
}

.console-section-head {
    padding: 5px 30px 5px;
    left: 500px;
    bottom: 410px;
    width: 700px;
    font-size: 40px;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
    border: #ffffff solid 2px;
    border-radius: 10px;
}

.console-section-text {
    top: 50px;
    left: 520px;
    width: 700px;
    height: 200px;
    position: relative;
}
.console-section-li {
    color: var(--clr-light);
    font-size: 12px;
}
.console-section-button{
    color: var(--clr-light);
    background-color: var(--clr-dark);
    padding: 5px;
    border: #1877f2 solid 2px;
    border-radius: 10px;
    transition: 0.5s;
}

.console-section-button:hover{
    color: var(--clr-dark);
    background-color: #1877f2;
    transition: 0.5s;
    position: relative;
    transform: scale(0.9);

}
.console-section-a{
    text-decoration: none;
    color: var(--clr-light);
    padding: 30px;
}
.console-section-a:hover{
    color: #ffffff;
}
/*--------------------course--------------------
.course-section {
    width: 100%;
    height: 600px;
    background-color: #000000;

}

.course-section-line {
    width: 100%;
    height: 200px;
    background-color: #ff0000;
}

.course-section-img {
    bottom: 53px;
    left: 0px;
    width: 450px;
    position: relative;
    transition: 0.5s;
}

.course-section-img:hover {
    bottom: 100px;
    left: 0px;
    width: 500px;
    transition: 0.5s;
}

.course-section-head {
    padding: 5px 30px 5px;
    left: 500px;
    bottom: 410px;
    width: 700px;
    font-size: 40px;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
    border: #ffffff solid 2px;
    border-radius: 10px;
}

.course-section-text {
    top: 50px;
    left: 520px;
    width: 700px;
    height: 200px;
    position: relative;
}
.course-section-li {
    color: #ffffff;
    font-size: 12px;
}
.course-section-button{
    color: #ffffff;
    background-color: #000000;
    padding: 5px 30px 5px;
    border: #ff0000 solid 2px;
    border-radius: 10px;
    transition: 0.5s;
}

.course-section-button:hover{
    background-color: #ff0000;
    transition: 0.5s;
    position: relative;
    bottom: 3px;

} */
/*--------------------document--------------------
.document-section {
    width: 100%;
    height: 600px;
    background-color: #000000;

}

.document-section-line {
    width: 100%;
    height: 200px;
    background-color: #00db00;
}

.document-section-img {
    bottom: 100px;
    left: 0px;
    width: 450px;
    position: relative;
    transition: 0.5s;
}

.document-section-img:hover {
    bottom: 150px;
    left: 0px;
    width: 500px;
    transition: 0.5s;
}

.document-section-head {
    padding: 5px 30px 5px;
    left: 500px;
    bottom: 410px;
    width: 700px;
    font-size: 40px;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
    border: #ffffff solid 2px;
    border-radius: 10px;
}

.document-section-text {
    top: 50px;
    left: 520px;
    width: 700px;
    height: 200px;
    position: relative;
}
.document-section-li {
    color: #ffffff;
    font-size: 12px;
}
.document-section-button{
    color: #ffffff;
    background-color: #000000;
    padding: 5px 30px 5px;
    border: #00db00 solid 2px;
    border-radius: 10px;
    transition: 0.5s;
}

.document-section-button:hover{
    background-color: #00db00;
    transition: 0.5s;
    position: relative;
    bottom: 3px;

}*/
/*--------------------apps--------------------
.apps-section {
    width: 100%;
    height: 600px;
    background-color: #000000;

}

.apps-section-line {
    width: 100%;
    height: 200px;
    background-color: #ff08ff;
}

.apps-section-img {
    bottom: 50px;
    left: 70px;
    width: 300px;
    position: relative;
    transition: 0.5s;
}

.apps-section-img:hover {
    bottom: 100px;
    left: 80px;
    width: 350px;
    transition: 0.5s;
}

.apps-section-head {
    padding: 5px 30px 5px;
    left: 500px;
    bottom: 260px;
    width: 700px;
    font-size: 40px;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
    border: #ffffff solid 2px;
    border-radius: 10px;
}

.apps-section-text {
    top: 50px;
    left: 520px;
    width: 700px;
    height: 200px;
    position: relative;
}
.apps-section-li {
    color: #ffffff;
    font-size: 12px;
}
.apps-section-button{
    color: #ffffff;
    background-color: #000000;
    padding: 5px 30px 5px;
    border: #ff08ff solid 2px;
    border-radius: 10px;
    transition: 0.5s;
}

.apps-section-button:hover{
    background-color: #ff08ff;
    transition: 0.5s;
    position: relative;
    bottom: 3px;

}*/

/*----------live----------*/
.live-p{
    text-align: center;
    text-transform: uppercase;
    color: red;
    font-weight: 900;
    padding: 30px;
    font-size: 40px;
}
.live iframe{
    position: relative;
    transform: translate(0%,0%);
    top: 0;
    left: 5%;
    width: 90%;
    height: 300px;

}
/*----------post----------*/

.post {
    width: auto;
    max-width: 700px;
    margin: 20px 8px 20px;
    height: 400px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    border: #cacaca solid 2px;
    background-color: var(--clr-dark);
    transition: 0.5s;
    position: relative;

}

.post:hover {
    z-index: 1;
    position: relative;
    border: #1877f2 solid 2px;
    transition: 0.5s ease-in-out;
}

.post h1 {
    text-transform: uppercase;
}

.post p {
    width: auto;
    max-width: 330px;
    color: #808080;
}

.post a {
    color: var(--clr-dark);
    border-radius: 50px;
    text-decoration: none;
    padding: 5px 50px 5px;
    background-color: var(--clr-light);
}

.post a:hover {
    background-color: #1877f2;
    transition: 0.7s;
    color: #ffffff;
}
/*--------------------mobile page--------------------*/
.empty{
    width: 100%;
    height: 300px;
}
.mobile-line{
    width: 100%;
    height: 200px;
    background-color: #988e84;
}

.mobile-line-img{
    width: 400px;
    position: relative;
    left: 100px;
    bottom: 35px;
    border-radius: 20px 20px 0px 0px ;
    border: #505050 solid 1px;

}
.mobile-line-p{
    width: 500px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid #ffffff;
    color: #ffffff;
    position: relative;
    font-size: 50px;
    left: 700px;
    bottom: 210px;
}

/*--------------------card--------------------*/
.all-card{
    width: 100%;
    height: auto;
    padding-top: 100px;
    background-color: #202020;
}
.all-card form{
    display: inline-block;
}
.card{
    width: 350px;
    max-width: 350px;
    margin: 20px;
    height: 350px;
    border-radius: 20px;
    transform: translate(0%,0%);
    left: 12%;
    position: relative;
    border: #505050 solid 1px;
    background-color: var(--clr-dark);
    display: inline-block;
    overflow: scroll;
    overflow-x: hidden;

}
::-webkit-scrollbar{
    display: none;
}

.card img{
    position: relative;
    border: #000000 solid 1px;
    border-radius: 20px;
    transform: translate(7%,10%);
    width: 300px;
}
.card-head{
    margin: 10px 20px;
    font-weight: 900;
}
.card-p{
    margin: 0px 30px ;
    font-size: 16px;
    color: var(--clr-light);
}
.card i{
    position: relative;
    left: 270px;
    margin: 30px 10px 30px;
    color: #808080;
}
.card i:hover{
    color: var(--clr-light);
}
.card i:active{
    color: #000;
}


/*--------------------about page------------------*/
.about{
    padding: 100px;
}
.about-img-compass{
    display: inline-block;
    width: 200px;
    border: #000000 solid 5px;
    border-radius: 50%;
    position: relative;

    left: 50%;
    transform: translate(-50%,-0%);
}
.about-head{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
}
.about-p{
    text-align: center;
}
/*--------------------feedback--------------------*/

.feedback{
    display: block;
}
.feedback form{
    position: relative;
    left: 5%;
    width: 90%;
    height: 350px;
    background-color: #988e84;
    border-radius: 10px;
    margin-bottom: 20px;

}
.feedback input{
    border-radius: 5px;
    border: #ffffff solid 0px;
    width: 60%;
    position: relative;
    top: 5%;
    left:20%;
    background-color: #ffffff;
    outline: none;
    padding: 5px;
    margin: 0px 0px 5px;
    transition: 0.5s;
    
}
.feedback input:hover{
    border: #1877f2 solid 2px;
    transform: scale(0.95);
    transition: 0.5s;
}
textarea{
    border-radius: 5px;
    position: relative;
    width: 60%;
    height: 180px;
    top: 5%;
    left:20%;transition: 0.5s;
}
textarea:hover{
    transform: scale(0.95);
    transition: 0.5s;
    outline: #1877f2 solid 2px;
}

/*--------------------end--------------------*/

.end{
    width: 100%;
     height: 400px;
    background-color: #000000;
    border-top: #404040 solid 0.5px;
}
.end-social-media{
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
}
.end-social-media i{
    color: #ffffff;
    margin-left: 20px;
    font-size: 30px;
    transition: 0.5s;
    transition: 0.5s ease-in-out;
    padding: 10px 20px 10px;

}
.end-social-media i:hover{
    bottom: 5px;
    padding: 5px 40px 5px;
    position: static;
    color: #ffffff;
    border-radius: 100px;
    border: #ffffff solid 2px;
    transition: 0.5s ease-in-out;
}
.end-nav{
    padding-top: 70px;
    text-align: center;
}
.end-nav-a{
    color: #808080;
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 30px;
    font-size: 14px;
    transition: 0.5s;

    
}
.end-nav-a:hover{
 color: #ffd500;
 
}
.end-nav p{
    color: #808080;
    text-transform: capitalize;
    padding-top: 30px;
    margin-left: 30px;
    font-size: 12px;
}